<div class="border border-black p-4">
  <p style="color: green"><%= notice %></p>

  <div class="underline pb-2">Quotes</div>
 
  <div id="quotes" class="border border-black py-2">

    <% @quotes.each_with_index do |quote, i| %>
 
      <div class="flex justify-between py-4 px-2">
        <%= render quote%>
        <div class="px-2">
          <%= link_to "Show", quote, class:"border border-black" %>
        </div>
      </div>
    
    <% end %>

  </div>
  <div class="pt-4">
    <%= link_to "New Quote", new_quote_path, class:"border border-black p-2" %>
  </div>
</div>
